venv/
__pycache__/
*.pyc
db.sqlite3
*.log
*.env
*.sqlite3
*.pot
*.mo
*.pyc
*.pyo
*.swp
.DS_Store
.idea/
.vscode/
node_modules/
dist/
staticfiles/
media/
.env
*.sqlite3
*.log
*.pot
*.mo
*.pyc
*.pyo
*.swp